# Snow Clearing Analysis from a Gendered Lens
## EDA Notebook

In [1]:
import pandas as pd

In [16]:
import numpy as np

In [7]:
accidents = pd.read_excel('../../data/Pedestrians.xlsx')

In [8]:
accidents.head()

,Location,Accident Year,Accident Date,Accident Time,Environment Condition 1,Road 1 Condition,Pedestrian,Pedestrian Action,Age Group,Sex,Position,Injuries,Safety Equipment Used
0,FRANKTOWN RD btwn DWYER HILL RD & SKEEL CRT (_...,2018,2018-02-09,01:19:00,01 - Clear,01 - Good,NaN,NaN,20-24,Male,03 - Front Right,04 - Fatal,01 - Lap and shoulder belt
1,AIRPORT PKWY (__3ZA222),2018,2018-01-12,21:38:00,03 - Snow,01 - Good,NaN,NaN,25-29,Female,03 - Front Right,02 - Minor,01 - Lap and shoulder belt
2,ALBION RD @ FINDLAY CREEK DR (0013587),2018,2018-01-13,15:29:00,01 - Clear,01 - Good,NaN,NaN,45-49,Female,03 - Front Right,01 - Minimal,00 - Use unknown
3,PRINCE OF WALES DR btwn FISHER AVE & NE/OT BOU...,2018,2018-01-25,15:35:00,01 - Clear,01 - Good,NaN,NaN,20-24,Male,01 - Front Left,01 - Minimal,00 - Use unknown
4,CAMPEAU DR @ KANATA AVE (0012003),2018,2018-01-26,08:15:00,01 - Clear,01 - Good,NaN,NaN,15-19,Male,04 - Rear Left,01 - Minimal,01 - Lap and shoulder belt

In [12]:
accidents.shape

(9444, 13)

In [11]:
accidents.isna().sum()

Location                      0
Accident Year                 0
Accident Date                 0
Accident Time                 0
Environment Condition 1       0
Road 1 Condition              0
Pedestrian                 8543
Pedestrian Action          8544
Age Group                    31
Sex                           6
Position                      0
Injuries                      0
Safety Equipment Used         1
dtype: int64

In [22]:
# if pedestrian = Nan, then this is a vehicle accident
vehicle_accidents = accidents[accidents['Pedestrian'].isna()]

In [23]:
vehicle_accidents.shape

(8543, 13)

In [25]:
pedestrian_accidents = accidents[~accidents.index.isin(vehicle_accidents.index)]

In [27]:
pedestrian_accidents.shape

(901, 13)

In [29]:
pedestrian_accidents.nunique()

Location                   671
Accident Year                3
Accident Date              546
Accident Time              575
Environment Condition 1      8
Road 1 Condition             4
Pedestrian                   3
Pedestrian Action           15
Age Group                   17
Sex                          3
Position                     1
Injuries                     5
Safety Equipment Used        1
dtype: int64

In [30]:
pedestrian_accidents.groupby('Injuries').count()

,Location,Accident Year,Accident Date,Accident Time,Environment Condition 1,Road 1 Condition,Pedestrian,Pedestrian Action,Age Group,Sex,Position,Safety Equipment Used
Injuries,,,,,,,,,,,,
00 - None,39,39,39,39,39,39,39,39,32,39,39,39
01 - Minimal,265,265,265,265,265,265,265,265,263,265,265,265
02 - Minor,501,501,501,501,501,501,501,500,501,501,501,501
03 - Major,78,78,78,78,78,78,78,78,78,78,78,78
04 - Fatal,18,18,18,18,18,18,18,18,18,18,18,18

In [33]:
pedestrian_accidents.dtypes

Location                           object
Accident Year                       int64
Accident Date              datetime64[ns]
Accident Time                      object
Environment Condition 1            object
Road 1 Condition                   object
Pedestrian                        float64
Pedestrian Action                  object
Age Group                          object
Sex                                object
Position                           object
Injuries                           object
Safety Equipment Used              object
dtype: object

In [13]:
xls = pd.ExcelFile('../../data/Pedestrians.xlsx')
df1 = pd.read_excel(xls, 'Sheet1')
df2 = pd.read_excel(xls, 'Sheet2')

In [14]:
df1.shape, df2.shape

((9444, 13), (901, 11))

In [5]:
collisions = pd.read_csv('../../data/Traffic_Collisions_by_location_2013.csv')

In [6]:
collisions.head()

,X,Y,RECORD,LOCATION___GEOID,TOTAL_COLLISIONS,CYCLIST_COLLISIONS,PEDESTRIAN_COLLISIONS,XCOORD,YCOORD,LONGITUDE,LATITUDE,ObjectId
0,-75.972058,45.293178,601,CARP RD @ RICHARDSON SIDE RD (0005759),3,0,0,346209.5557,5017160.457,-75.972058,45.293178,1
1,-75.946200,45.272493,602,CARP RD @ ROTHBOURNE RD (0002007),1,0,0,348253.5717,5014875.436,-75.946200,45.272493,2
2,-75.930049,45.267507,603,CARP RD @ STITTSVILLE MAIN ST (0005253),5,0,0,349524.7861,5014330.203,-75.930049,45.267507,3
3,-76.095795,45.373158,604,CARP RD @ THOMAS A. DOLAN PKWY (0002118),1,0,0,336459.5381,5025992.327,-76.095795,45.373158,4
4,-75.952727,45.277627,605,CARP RD @ WESTBROOK RD (0001681),4,0,0,347737.5651,5015442.441,-75.952727,45.277627,5